<meta charset="UTF-8" />
<link rel="icon" href="/static/img/istyle.png" type="image/png" />
<meta name="description" content="IstyleAddis " />
<meta
  name="keywords"
  content="cosmotics, nutrition, jeweleries, style, fassion, ethiopia,addis ababa"
/>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
<title><%= title %></title>
